body{
    line-height: 1.4;
}


.resume-wrapper{
    width: 1000px;
    margin-right:auto;
    margin-left:auto;
    border: 1px solid black;
    box-shadow: 17px 10px 65px -38px rgba(0,0,0,0.75);
}

.left-panel{
    display: flex;
    flex-direction: column;
    background-color: rgb(51,83,132);
    color: rgb(243,245,248);
}

.left-panel .aside-title{
    align-self: flex-start;
    margin-left: 10px;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: .1em;
}

.skills-wrapper:hover #add-new-skill-button{
    opacity: 1;
    margin: 0 auto;
    display: block;
}

.skills-wrapper-items{

    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#add-new-skill-button{
    opacity: 0;
}

.skills-wrapper-items:hover .skill-buttons{
    opacity: 1;
}

.skill-buttons{
    opacity: 0;
}

#experience{
    background-color: whitesmoke;
}

#experience h1{
    border-top: 1px solid #456b53;
    border-bottom: 2px solid #456b53;
    font-size: 20px;
    padding: 5px;
}

#general-info{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#resume{
    display: grid;
    grid-template-columns: 250px auto;
}

#locationLogo{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.info-wrapper{
    display: flex;
    align-items: center;
}

.general-info-wrapper{
    display: flex;
    flex-direction: column;
}

#profile-photo{
    border-radius: 50%;
}

#generalinfo-edit{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 250px;
    top: 300px;
    background-color: rgb(16, 41, 78);
    width: 200px;
    line-height: 1.8;
    padding: 20px;
    border: 1px solid black;
}

.intro-form{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 250px;
    top: 20px;
    background-color: rgb(16, 41, 78);
    color: white;
    width: 200px;
    line-height: 1.8;
    padding: 20px;
    border: 1px solid black;
}

#generalinfo-edit #close-edit-info-button{
    width: 50px;
    align-self: center;
    margin-top: 20px;
}

#edit-info-button{
    position: absolute;
    top: 310px;
    left: 350px;
    opacity: 0;
}

#general-info:hover #edit-info-button{
    opacity: 1;
}

.edit-form{
    position: absolute;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.add-experience{
    background-color: black;
    color: white;
    padding: 20px;
    line-height: 1.8;
}

.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.experience-wrapper{
    display: grid;
    grid-template-columns: 200px auto 40px;
    grid-column-gap: 40px;
    margin-top: 20px;

}

ul li{
    list-style-type: none;
}

#position{
    font-weight: 700;
    color: #456b53;
    font-size: 18px;
    text-align: right;
    letter-spacing: .1em;
}

#date-from-until{ 
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 5px;
    text-align: right;
    font-size: smaller;
}

#companyName{
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
}

#city{
    color: #666;
    font-style: italic;
    font-size: smaller;
}

#mainTasks{
    font-size: smaller;
}

.x-button{
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    cursor: pointer;
    align-self: flex-start;
    justify-content: space-around;
    margin-top: 5px;
    opacity: 0;
}

.experience-wrapper:hover .x-button{
    opacity: 1;
}

#add-new-exp-button, #edit-intro{
    opacity: 0;
}

#experience:hover #add-new-exp-button{
    opacity: 1;
}

#title-name{
    font-family: questa-grande,serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(51,83,132);
    letter-spacing: .1em;
}

#title-title, #personal-profile{
    font-family: questa-grande,serif;
    font-weight: 500;
    font-style: normal;
    color: rgb(51,83,132);
}

#personal-profile-text{
    font-size: 13px;
    line-height: 1.8;
}

.introduction-wrapper{
    margin-left: 40px;
}

.introduction-wrapper:hover #edit-intro{
    opacity: 1;
}